{% extends "layout.html" %}
{% load static %}
{% block body %}

<!--- TESTING -->



    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Herramientas</h3>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        <button id="draw-button">
                            <i class="material-icons">my_location</i> Dibujar
                        </button>
                    </li>


                    <li class="list-group-item">
                        <button id="delete-button">
                            <i class="material-icons">location_disabled</i> Borrar
                        </button>
                    </li>


                    <form id="coords-form" method="post" action="{% url 'save_coords' %}">
                        {% csrf_token %}
                        <input type="hidden" name="coords" id="coords-input">
                        <li class="list-group-item">
                            <button id="save-button" type="submit">
                                <i class="material-icons">save</i> Guardar
                            </button>
                        </li>
                    </form>


                    <li class="list-group-item">
                        <button id="undo-button">
                            <i class="material-icons">undo</i> Deshacer
                        </button>
                    </li>

                </ul>
            </div>
        </div>
    </div>

  
    <div class="container">
        <img 
        src="https://via.placeholder.com/800x400"
        alt="Imagen interactiva" 
        id="imagen" 
        style="cursor: crosshair;"
        class="img-fluid"
        onclick="obtenerCoordenadas(event)" />

        <!-- Canvas superpuesto -->
        <canvas id="canvas" width="800" height="400"></canvas>
    </div>




    

{% endblock %}
