{% extends "layout.html" %}
{% load static %}
{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!--- TESTING -->
<style>
    i{
        display:inline!important;
        font-size: 20px!important;
    }
</style>


    <!-- Header Section -->
    <div class="text-center mb-4">
        <h1 class="display-5 fw-bold text-primary">¡Bienvenidx a Marcando Pingüinos!</h1>
        <p class="fs-4 text-muted">
            Ayúdanos a identificar pingüinos en imágenes aéreas tomadas por drones para contribuir 
            al estudio y conservación de estas increíbles aves. Aquí te explicamos cómo hacerlo en solo tres pasos:
        </p>
    </div>

    <!-- Contador Total de Pingüinos -->
    <div class="card mb-3 border-light shadow-sm rounded">
        <div class="card-body text-center">
            <h5 class="card-title text-muted">
                🐧 Pingüinos contados hasta ahora
            </h5>
            <p class="h5 text-dark mb-0">{{count}}</p>
        </div>
    </div>

       <!-- Action Button -->
    <div class="text-center mt-4">
        <form method="get" action="{% url 'find_tile' %}" id="search-tile-form">
            <button class="btn btn-primary btn-lg" type="submit">
                <i class="material-icons align-middle">gps_fixed</i> Marcar Pingüinos
            </button>
            <br><br>
            <!-- Switch: solo se enviará el valor de 'true' en caso de que el checkbox se marque  -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="customSwitch1" name="repeat_marked" value="true" {% if repeat_marked %}checked{% endif %}>
                
                <label class="form-check-label" for="customSwitch1">Repetir imágenes marcadas</label>
            </div>
        </form>
    </div>

    

    <br> 


 

        

{% endblock %}
