{% extends "layout.html" %}
{% load static %}
{% block body %}

<!--- TESTING -->
<style>
    i{
        display:inline!important;
        font-size: 20px!important;
    }
</style>


    <!-- Header Section -->
    <div class="text-center mb-4">
        <h1 class="display-5 fw-bold text-primary">¡Bienvenidx a Marcando Pingüinos!</h1>
        <p class="fs-4 text-muted">
            Ayúdanos a identificar pingüinos en imágenes aéreas tomadas por drones para contribuir 
            al estudio y conservación de estas increíbles aves. Aquí te explicamos cómo hacerlo en solo tres pasos:
        </p>
    </div>

       <!-- Action Button -->
    <div class="text-center mt-4">
        <a class="btn btn-primary btn-lg" href="/find-tile">
            <i class="material-icons align-middle">gps_fixed</i> Marcar Pingüinos
        </a>
    </div>

    <br> 


 

        

{% endblock %}
