button{
    padding: 10px;
}


/* Contenedor que agrupa imagen y canvas */
.container {
    margin: 20px;

}

/* Imagen base */
#imagen {
    display: block; /* Evitar márgenes blancos por defecto */
    margin-bottom: 200%;
}

/* Canvas superpuesto */
#canvas {
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; 
}

.material-icons {
    display: block;
}

li *{
    align-items: center;
    text-align: center;
}